extends layout

block content
  h1= title
  a(href="school/create")  Create
  div(class="container-fuild")
  
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.Name}
          p #{result.Address}
          p #{result.School_ID}  
          a(href="school/update/?id="+result.id)  Update
          a(href="school/detail/?id="+result.id)  View
          a(href="school/delete/?id="+result.id)  Delete

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }